$font-family: Roboto, Arial, sans-serif; 
$font-size: 13px;
$font-size-link: 14px;
$font-size-lg: 16px;

$brand-color: #4c6071;
$accent-color: #9bd16f;
$text-color: #747474; 

$border: 2px solid #dddddd;

$cWidth: 1170px;
$cMargin: 0 auto;
$cPadding: 0 10px;


